<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>CmdTestWeb</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>CmdTest</servlet-name>
		<servlet-class>cn.com.water.CmdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CmdTest</servlet-name>
		<url-pattern>/CmdTest</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UpTest</servlet-name>
		<servlet-class>cn.com.water.UpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpTest</servlet-name>
		<url-pattern>/UpTest</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ListTest</servlet-name>
		<servlet-class>cn.com.water.ListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListTest</servlet-name>
		<url-pattern>/ListTest</url-pattern>
	</servlet-mapping>
</web-app>